/* Header */
.header{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #DB4C3F;
  
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 24px;
    color: #ffffff; 
}

*{
    font-family: 'Open Sans', sans-serif;
}