/* Overall Layout */
*{
  font-family: 'Open Sans', sans-serif;
}

body{
  margin: 0%;
  height: 100%;
  width: 100%;
  
}

.container{
  height: 100vh;
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 60px auto;
}

/* 
CSS Fixes to ask 
1. Overflow for tag in sidebar
2. Overflow for tag on the right
3. Overflow scroll (why does it make it weird)



*/
